
.book-table-component{
    margin: 0 auto;
    width: 80vw;
    .btn-primary{
        margin-right: 15px;
    }
}
.modal-background{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    background: rgba(0,0,0, .5);
}